In [1]:
import pandas as pd
from surprise import SVD
from surprise import Dataset

from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import train_test_split

data = pd.read_table('dataset1_shuffled_all.dta',delim_whitespace = True, names = ['User','Movie','Time','Rating'])

In [2]:
data = data.drop(data.columns[2], axis = 1)

In [3]:
from surprise import Reader
reader = Reader(rating_scale=(1,5))
data = data.astype('int32')

In [4]:
r = range(70000000)
data1 = data.drop(r,0)

In [5]:
data2 = Dataset.load_from_df(data1[['User', 'Movie','Rating']], reader)
trainset = data2.build_full_trainset()

In [ ]:
data

In [6]:
# Use the famous SVD algorithm.

algo = SVD(verbose = True)
algo.fit(trainset)
# p = algo.test(testset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

In [ ]:
testset = trainset.build_testset()
predictions = algo.test(testset, verbose = False)

In [ ]:
accuracy.rmse(predictions,verbose=True)

In [7]:
testing = pd.read_table('dataset5_unshuffled_all.dta',delim_whitespace = True)
testing = testing.drop(testing.columns[3], axis = 1)
testing.columns = ['User','Movie','Time']

In [8]:
#testing1 = testing.drop(testing.columns[2], axis = 1)
testing1 = testing.astype('int32')
testing1

           User  Movie  Time
0         64563      2  2197
1         89802      2  2187
2         99409      2  2190
3        116389      2  2197
4        133134      2  2207
5        133341      2  2218
6        142185      2  2197
7        143122      2  2197
8        146429      2  2183
9        181143      2  2228
10       193997      2  2199
11       201688      2  2203
12       226583      2  2170
13       249203      2  2193
14       261112      2  2200
15       266329      2  2230
16       268622      2  2210
17       294293      2  2205
18       316299      2  2179
19       321149      2  2230
20       321689      2  2181
21       326356      2  2190
22       352392      2  2199
23       363606      2  2214
24       382169      2  2217
25       447292      2  2183
26         1672      3  2049
27         1942      3  2071
28        27884      3  2218
29        28375      3  2233
...         ...    ...   ...
2749867  394241  17767  1918
2749868  400693  17767  2226
2749869  417753  17767  1865
2749870  436356  17767  1985
2749871    4976  17768  2195
2749872   27283  17768  2224
2749873   86582  17768  1851
2749874  100210  17768  1851
2749875  103795  17768  1851
2749876  141673  17768  1604
2749877  201231  17768  2185
2749878  210087  17768  2212
2749879  213535  17768  1851
2749880  225191  17768  1800
2749881  229651  17768  1851
2749882  236658  17768  1851
2749883  270061  17768  2138
2749884  287919  17768  1851
2749885  292618  17768  2241
2749886  310471  17768  1851
2749887  337235  17768  2228
2749888  375727  17768  2195
2749889  395067  17768  2241
2749890  405294  17768  1851
2749891  405881  17768  2201
2749892  419530  17768  1851
2749893  421606  17768  2185
2749894  433753  17768  2121
2749895  448751  17768  2120
2749896   54322  17769  2231

[2749897 rows x 3 columns]

In [9]:
testing2 = Dataset.load_from_df(testing1[['User', 'Movie','Time']],reader)

In [10]:
testing2 = testing2.build_full_trainset()

In [11]:
testing3 = testing2.build_testset()

In [12]:
predictions2 = algo.test(testing3)

In [13]:
with open('submission_trial1.csv', 'w') as f:
    for i in range(len(predictions2)):
        p = predictions2[i].est
        f.write(str(p) + '\n')

In [14]:
len(predictions2)

2749897

In [15]:
len(testing3)

2749897